*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    border: none
    outline: none
    text-decoration: none
    color: $white
body
    +normal
    font-size: 18px
    background-color: $black
section
    margin: 70px 0
    h1, h2
        font-size: 40px
        color: $gold
    h2, h3
        font-size: 35px
        +normal
    h3
        font-size: 25px
button, a
    cursor: pointer
.container
    width: 100%
    max-width: 1140px
    margin: 0 auto
    .header
        margin-top: 10px
        .navbar
            display: flex
            align-items: center
            justify-content: space-between
            font-size: 22px
            +bold
            .logo
                display: flex
                align-items: center
                cursor: pointer
                .logo-title
                    color: $gold
                    font-size: 25px

.icon
    margin-right: 10px
    max-width: 70px
    width: 100%
    img
        width: 100%

.price
    display: flex
    align-items: center
    +bold
    
.order-btn
    max-width: 400px
    width: 100%
    height: 60px
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(180deg, #FFE7AE 0%, #FFBE27 64.06%)
    &-image
        margin-right: 15px
        max-width: 40px
        width: 100%
        img
            width: 100%
    &-text
        +bold
        color: $black
        font-size: 20px

.navslides__active
    border: 5px solid $gold

.active
    color: $gold
    text-decoration: underline

@media screen and ( min-width: 1200px )
    .container
        max-width: 1140px

@media screen and ( max-width: 1200px )
    .container
        max-width: 960px

@media screen and ( max-width: 992px )
    .container
        max-width: 	720px
        padding: 0 15px

@media screen and ( max-width: 768px )
    .container
        max-width: 	540px

@media screen and ( max-width: 576px )
    .container
        max-width: 	none
        padding: 0 5px
    .icon
        max-width: 60px